<h1><%=@user.username%></h1>

<a href="/logout">Logout</a>
<a href="/shoes/new">New Shoe</a>

<%@user.shoes.each do |shoe|%>
<p><a href="/shoes/<%=shoe.id%>"> <%=shoe.brand%> <%=shoe.name%></a></p>
<%end%>
