<!doctype html>
<html>
  <head>
    <title>My Shoe Collection</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to My Shoe Collection!</h1>

      <%= yield %>

  </body>
</html>
