<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br></br>

<form action="/shoes" method="POST">
  <label for="brand">Brand:</label>
  <input type="text" name="brand" id="brand"><br/>
  <label for="/name">Name:</label>
  <input type="text" name="name" id="name"><br></br>

  <input type="submit" value="Submit">
</form>
