<form action="/shoes/<%=@shoe.id%>/edit" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <input type="text" name="content" value="<%=@shoe.brand%>">
  <input type="text" name="name" value="<%=@shoe.name%>">
  <input type="submit" value="submit">
</form>
